<md-toolbar color="primary">
  <div class="row">
    <div class="col-xs-1 no-padding" (click)="sidenav.toggle()">
      <md-icon>reorder</md-icon>
    </div>
    <div class="col-xs-11">
      <span>!Yo hice esto!</span>
    </div>
  </div>
</md-toolbar>
<md-sidenav-layout>
  <md-sidenav #sidenav mode="push">
    <div (click)="sidenav.close()">
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a>Cerrar menú</a>
    </div>
  </md-sidenav>
  <md-card> <!-- *shellNoRender  -->
    <router-outlet></router-outlet>
  </md-card>
</md-sidenav-layout>
