@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: Roboto, 'Helvetica Neue', 'Arial', sans-serif;
}
